a.button {
  color: white;
}

a.button:hover {
  text-decoration: none;
  transform: scale(1.05);
  transition: all 0.2s;
  cursor: pointer;
}

.table {
  margin-bottom: 0;
}

.sticky-top {
  z-index: 1;
}

.react-datepicker-popper {
  z-index: 2 !important;
}
