input {
  width: 96px;
  padding: 2px;
  margin-left: 8px;
}

.reports__table {
  margin-top: 16px;
  margin-bottom: 0;
  height: 60vh;
  max-height: 60vh;
  overflow-y: scroll;
}

.reports__table::-webkit-scrollbar {
  width: 4px;
  background-color: #e9e9e9;
}
.reports__table::-webkit-scrollbar-thumb {
  background-color: #cecece;
}

.reports__details-title {
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #cecece;
}
.reports__details-description {
  margin-top: 12px;
  padding-top: 12px;
  border-top: 1px solid #cecece;
  font-size: 1.2rem;
  text-align: right;
}

.reports__footer {
  text-align: right;
  padding-top: 24px;
}

.datapicker {
  cursor: pointer;
}
